.centerdiv{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightext{
        height: 500px;
        box-sizing: border-box;
        width: 30%;
        min-width: 300px;
        padding: 15px;
        border: 1px peachpuff   solid;
        border-left: none;
        background: linear-gradient(to right, white 10%, rgba(255, 212, 219, 0.552));      
        font-family: 'Poppins';
        border-bottom-right-radius: 30px;
        border-top-right-radius: 30px;
        font-size: 14px;
        display: flex;
        align-items: center;
}

.ruminote{
    display: flex;
    font-family: 'Poppins';

    position: absolute;
    left: 0; 
    right: 0;
    margin-top: 2%; 
    margin-inline: auto; 
    width: fit-content;
}

.ruminote h1{
    margin:0px;
}

@media (max-width : 1130px) {
    .rightext{
        font-size: 12px;
    }
}

@media (max-width : 699px){
    .centerdiv{
        margin-top: 200px;
        flex-direction: column;
    }
    .rightext{
        border-left: 1px peachpuff   solid;
        border-top: none;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 30px;
        background: linear-gradient( white 10%, rgba(255, 212, 219, 0.552));     
    }
    .ruminote{
        top: 8%; 
    }
}